$color-ultra-light-gray: #f7f7f7;
$color-light-gray: #eeeeee;
$color-med-gray: #e6e6e6;

$color-dark: #333;
$color-light: #fff;
$color-main: #61dafb;
$color-alt: #f47878;

$color-sun: #ffcd0a;
$color-moon: #6c37df;
