$color-ultra-light-gray: #f7f7f7;
$color-light-gray: #eeeeee;
$color-med-gray: #e6e6e6;

$color-dark: #333;
$color-light: #fff;
$color-main: #61dafb;
$color-alt: #f47878;

$color-sun: #ffcd0a;
$color-moon: #6c37df;
$color-book: #dbcab5;
$color-rss: #51a5ce;
$color-code: #7ae364;

$phone-width: "only screen and (max-width: 576px)";
