@import "variables";

#weather {
  .content {
    padding: 0 0.5rem;
  }
  .wrapper {
    background-color: $color-ultra-light-gray;
    padding: 0.5rem 0;
  }

  #weather-details {
    overflow-x: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    max-width: 600px;
    margin: 0 auto;

    @media #{$phone-width} {
      padding-left: 16rem;
      height: 2rem;
    }

    .fa-sun {
      color: $color-sun;
    }

    .fa-moon {
      color: $color-moon;
    }
  }

  .detail {
    white-space: nowrap;
    font-size: 0.75rem;

    @media #{$phone-width} {
      padding-right: 1rem;
    }

    .header {
      font-weight: 500;
      padding-right: 0.25rem;
    }
  }

  #weather-summmary {
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
    align-items: center;
    display: flex;

    .weather-gif {
      max-width: 100px;
      @media #{$phone-width} {
        max-width: 75px;
      }

      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;

      img {
        cursor: pointer;
      }
    }

    .summary-right {
      width: 100%;

      h1 {
        font-size: 1.5rem;

        @media #{$phone-width} {
          font-size: 1rem;
        }

        white-space: nowrap;
        font-weight: 500;
        margin: 0;
        padding: 0;
      }

      .summary-details {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .leaflet-container {
    height: 400px;

    @media #{$phone-width} {
      height: 250px;
    }
  }

  #weather-forecast {
    max-width: 600px;
    margin: 1rem auto;
    padding: 0.5rem;

    @media #{$phone-width} {
      padding: 0 0.25;
    }

    .daily-forecast {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;

      @media #{$phone-width} {
        font-size: 0.75rem;
        padding: 0.25rem 0;
      }

      cursor: pointer;

      .inner {
        &:hover {
          background-color: $color-med-gray;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brief {
          white-space: nowrap;
          padding-right: 1rem;
          display: flex;
          align-items: center;

          img {
            padding-right: 0.5rem;
            height: 35px;

            @media #{$phone-width} {
              height: 25px;
            }
          }
        }
      }

      .weather-range {
        width: 100%;

        .details {
          display: flex;
          align-items: center;
          font-size: 0.75rem;

          .bar {
            margin: 0 0.25rem;
            width: 100%;
            background-color: $color-dark;
            display: inline-block;
            height: 12px;
            border-radius: 24px;
          }
        }
      }

      .daily-details {
        display: none;
        text-align: center;
        padding: 0 0.5rem;

        @media #{$phone-width} {
          padding-bottom: 1rem;
        }

        &.expanded {
          display: block;
        }

        h4 {
          @media #{$phone-width} {
            margin: 0;
          }
        }

        .daily-details-header {
          display: flex;
          justify-content: space-between;

          .daily-high-low > svg {
            padding: 0 0.5rem;
          }

          .sunrise {
            padding-right: 0.5rem;
            svg {
              color: $color-sun;
            }
          }

          .sunset svg {
            color: $color-moon;
          }

          .rainfall > .label {
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}
